@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Lexend Mega', sans-serif;
    margin-left: 13em;
    margin-right: 13em;
    margin-bottom: 3em;
}

img{
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    filter: blur(1.5px);
}

h3{
    filter: blur(1.3px);  
}

p{
    font-size: .9rem;
}

header{
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
}

.link-a{
    transition: transform .2s;
    filter: blur(1.2px);
    display: inline-block;
}

.link-a:hover { 
    transform: scale(1.1);
}

.next{
    font-size: 1.5rem; 
}

.last-about{
    visibility: hidden;
}

.next-about{
    text-align: left;
}

.header-container{
    text-align: center;
    align-items: center;
}

.header-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
}

header a {
    text-decoration: none;
    color: black;
}

.img-grid {
    margin-top: 3em;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    column-gap:           2em;  
}

.img-top:active img,
.img-top:hover img {
	-webkit-filter: blur(2px);
	filter: blur(2px);
    -webkit-transition: all .5s ease;
	/* Safari and Chrome */
	-moz-transition: all .5s ease;
	/* Firefox */
	-o-transition: all .5s ease;
	/* IE 9 */
	-ms-transition: all .5s ease;
	/* Opera */
    transition: all .5s ease;
}

.img-cloud, .img-cool, .img-api, .img-news, .img-magic, .img-internago, .img-plant{
   margin-bottom: 2em;
   position: relative;
}

.img-magic a{
    color: rgb(255, 255, 255);
}

.img-link{
    filter: blur(2px);
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: 1s ease;
}

.img-top:hover .img-link{
    opacity: 1; 
}

/* about section */

.about-img{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    grid-auto-rows: minmax(100px, auto);
}

.about-img img{
   width: 100%;
}

.about-cv{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    grid-auto-rows: minmax(100px, auto);
}

.about-text{
    display: flex;
    align-items:center;
    justify-content:center;
    vertical-align: middle;
    grid-column: 2 / 9;
    grid-row: 1 / 2;
}

.header-nav-small{
    display: none;
}

.about-me{
    grid-column: 1/2;
    grid-row: 1 / 2;
}

.about .about-letter {
    text-align: center;
}

.about-letter img{
    margin-bottom: 3em;
    width: 60%;
}

.about-contact{
    margin-bottom: 3em;
}

.about-mail{
    filter: blur(1px);
    font-size: .9rem;
}

.about-back{
    font-size: 1.5rem;
}

.link-git{
    margin-bottom: 3em;
}

/* media queries */

@media only screen and (max-width: 1200px) {
    body {
        margin-left: 8em;
        margin-right: 8em;
    }

    .img-link{
        font-size: 2.3rem;
    }
}

@media only screen and (min-width: 1700px) {
   
    p{
        font-size: 1rem;
    }

    h3{
        font-size: 1.4em;
    }

    header{
        font-size: 2rem;
        filter: blur(2.5px);
    }

    nav{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 892px) {

    p{
        font-size: .8rem;
    }

   .header-nav{
       display: none;
   }

   .header-nav-small{
        display: block;
        text-align: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 900;
    }

    .img-last{
        margin-bottom: 3em;
    }

    .img-grid {
        -webkit-column-count: 1;
        -webkit-column-gap:   0px;
        -moz-column-count:    2;
        -moz-column-gap:      0px;
        column-count:         1;
        column-gap:           1em;  
    }

    .img-small{
        margin-top: 2em;
    }

    .about-img{
        display:flex;
        flex-direction: column-reverse;
    }
    .about-text{
        margin-bottom: 3em;
    }
    .about-letter img{
        width: 100%;
    }

    .img-link{
        font-size: 2.5rem;
    }

    .next-right{
        margin-top: 0em;
        margin-bottom: 1em;
    }

    .last-about{
        visibility: visible;
    }
}

@media only screen and (max-width: 600px) {
    body{
        margin-left: 2em;
        margin-right: 2em;
    }
    header{
        font-size: 1.2rem;
    }

    .link-a{
        filter: blur(1.2px);     
    }

    p{
        font-size: .7rem;
    }

    h3{
        font-size: .9rem; 
        filter: blur(1.2px); 
    }

    .link-git{
        font-size: .9rem; 
    }

    .header-nav-small{
        font-size: 1.2rem;
        
    }
    .about-back{
        font-size: 1.2rem;
    }

    .img-link{
        font-size: 2rem;
    }
    .next{
        font-size: 1.2rem;
    }
    .last-about{
        font-size: 1.2rem;
    }
} 

/*  projects - illustration    */


.illustrations-text{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    grid-auto-rows: minmax(100px, auto);
}

.illustrations-images{
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    grid-auto-rows: minmax(100px, auto);
}

.illustrations .illustrations-last{
    text-align: center;
}

.illustrations-last img{
    width: 50%;
    margin-bottom: 3em; 
}

@media only screen and (max-width: 892px){
    .illustrations-images{
        margin-top: 0em;
        margin-bottom: 0em;
        display: block;
    }  
    .illustrations-images img{
        margin-bottom: 2em;
    }

    .illustrations-last img{
        margin-bottom: 3em; 
    }
    .illustrations-last img{
        width: 100%;
    }
}

/*internago*/

.illustrations .internago-one{
    text-align: center;
}

.internago-one img{
    width: 50%;
    margin-bottom: 2em;
}

.internago {
    margin-bottom: 2em;
}

.internago-last{
    margin-bottom: 3em;
    text-align: center;
}

.internago-illustrations{
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    grid-auto-rows: minmax(100px, auto);
}

/*internago media*/

@media only screen and (max-width: 892px){
    .internago-illustrations{
        margin-top: 0em;
        margin-bottom: 0em;
        display: block;
    }
    .internago-illustrations img{
        margin-bottom: 2em;
    }

    .internago-one img{
        width: 100%;
    }

    .figma img{
        width: 100%;
        margin-bottom: 2em;
    }

    .internago-last{
       font-size: .9rem;
    }
}