@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;800&display=swap");
@import url("https://use.typekit.net/nuo0jei.css");
@import url("https://use.typekit.net/xfi6esi.css");
@import url("https://use.typekit.net/ljd2dwo.css");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");

/* <link rel="stylesheet" href="https://use.typekit.net/ljd2dwo.css"> */

:root {
  --spacing-xxl: 19.5rem;
  /* 310px - Padding on side for medium wide section */
  --spacing-xl: 13.125rem;
  /* 210px - Padding on side for wide section */
  --spacing-l: 8.125rem;
  /* 130px - Spacing between each section vertically */
  --spacing-m: 6.25rem;
  /* 100px - Padding on top and bottom for grey section */
  --spacing-s: 3.75rem;
  /* 60px - Padding on top and bottom of footer and sections that goes together */
  --spacing-xs: 2.1875rem;
  /* 35px - Spacing between content in sections */
  --spacing-xxs: 0.9375rem;

  --fontWeight-normal: 400;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;

  --lineHeight-large: 2;
  --lineHeight: 1.6;
  --fontSize-root: 16px;
  --fontSize-h1: 2.6rem;
  --fontSize-h2: 3.5rem;
  --fontSize-h2-s: 3rem;
  --fontSize-h2-xs: 2rem;
  --fontSize-h3: 3rem;
  --fontSize-h3-s: 3rem;
  --fontSize-h3-xs: 1.5rem;
  --fontSize-p: 1.2rem;
  --fontSize-p-s: 0.875rem;
  --fontSize-p-xs: 0.625rem;

  --black: #1a1818;
  --white: #ffffff;
  --dark-grey: #4e4e4e;
  --light-grey: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont;
  font-style: normal;
  font-weight: 200;
  background-color: white;
}

.wrapperloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 2;
}

img,
video {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--black);
}

h2 {
  font-size: var(--fontSize-h2);
}

h3 {
  letter-spacing: 8px;
  color: var(--black);
  font-size: 2.45rem;
}

p {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.35rem;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 50%;
  left: 0;
  background-color: var(--black);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.semibold {
  font-weight: 400;
}

.soon {
  padding-top: 10rem;
  height: 70%;
}

.soon-bg {
  height: 100vh;
}

.main-wrap {
  height: 100vh;
  width: 100%;
}

.subheader {
  font-family: aktiv-grotesk-extended, sans-serif;
  margin-bottom: 3rem;
}

.subheader-content {
  padding: 3rem 0px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(60, 60, 60);
  border-bottom: 2px solid rgb(60, 60, 60);
}

.cursor {
  width: 2rem;
  height: 2rem;
  transform: translate(10px, 10px);
  background-color: var(--black);
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  transition: all 0.3s ease-out;
  z-index: 10;
  background-image: url("../images/icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.next-about {
  text-align: left;
}

.my-masonry-grid {
  display: flex;
}

.img-grid {
  margin-top: 3em;
  margin-top: 3em;
  line-height: 0;
}

.my-masonry-grid_column:nth-child(2) {
  margin-left: 1em;
}

.year {
  color: rgb(255, 255, 255);
  opacity: 0;
  font-size: 1.5rem;
  position: absolute;
  top: 93%;
  left: 91%;
  transform: translate(-50%, -50%);
}

.img-top:active .year,
.img-top:hover .year {
  opacity: 1;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 1300px) {
  h3 {
    font-size: var(--fontSize-h3-s);
  }
}

.header-nav-small {
  display: none;
}

.about-back h3 {
  letter-spacing: 0px;
  font-size: 1.5rem;
}

/* media queries */

@media only screen and (max-width: 1200px) {
  .img-link {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1800px) {
  h2 {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1800px) {
  p {
    font-size: 1.5rem;
  }

  .about-back h3 {
    font-size: 2rem;
  }

  h3 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1192px) {
}

@media only screen and (max-width: 1192px) {
  h2 {
    font-size: var(--fontSize-h3);
  }

  .year {
    top: 90%;
    left: 90%;
  }

  .header-nav {
    display: none;
  }

  .about-text {
    margin-bottom: 3em;
  }

  .img-link {
    font-size: 2.5rem;
  }

  .next-right {
    margin-top: 0em;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 600px) {
  header {
    font-size: 1.2rem;
  }

  h2 {
    font-size: var(--fontSize-h2-xs);
  }

  h4 {
    font-size: 1rem;
  }

  .about-back h3 {
    font-size: 1.5rem;
  }

  .year {
    top: 85%;
    left: 85%;
  }

  p {
    font-size: 1.15rem;
  }

  h3 {
    letter-spacing: 4px;
    font-size: var(--fontSize-h3-xs);
  }

  .about-back {
    font-size: 1.2rem;
  }

  .img-link {
    font-size: 1.5rem;
  }
}

.main {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  background-color: white;
}

.main .row {
  flex-direction: column;
  justify-content: center;
}

.main .row h2 {
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 700;
  z-index: 10;
  color: white;
  mix-blend-mode: difference;
  margin: revert;
}

.main .row h2 .line {
  margin-bottom: 8px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.main .row h2 .line span {
  position: absolute;
}

.main .row .btn-row {
  width: 256px;
  position: relative;
  z-index: 2;
}

.main .row .btn-row a {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.main .row .btn-row a svg {
  margin-left: 16px;
  border: 2px solid black;
  padding: 12px;
  height: 55px;
  width: 55px;
  border-radius: 100px;
  transition: 0.4s ease-in-out;
}

.main .row .btn-row a:hover svg {
  background: black;
  color: white;
}

@media only screen and (max-width: 768px) {
  .main .row h2 {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }

  .main .row h2 .line {
    height: 48px;
  }

  .main .row .btn-row a {
    font-size: 1.3rem;
  }

  .main .row .btn-row a svg {
    padding: 6px;
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .main .row h2 {
    margin-top: 72px;
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  .main .row h2 .line {
    height: 32px;
  }

  .main .row .btn-row a {
    font-size: 1.1rem;
  }

  .main .row .btn-row a svg {
    padding: 4px;
    width: 30px;
    height: 30px;
  }

  .cases .row .case .case-details,
  .intro-overlay .bottom {
    height: calc(var(--vh, 1vh) * 25) !important;
  }

  .cases .row .case .case-details span {
    margin-top: 0 !important;
  }

  .cases .row .case .case-details a svg {
    height: 35px !important;
    width: 35px !important;
    padding: 6px !important;
  }

  .header .logo a {
    font-size: 1rem;
    letter-spacing: 0.45rem !important;
  }

  .intro-overlay .bottom .overlay-bottom {
    top: -100% !important;
  }

  .intro-overlay .bottom .overlay-bottom:nth-child(2) {
    top: 0% !important;
  }

  .intro-overlay .bottom .overlay-bottom:nth-child(3) {
    top: 100% !important;
  }
}

.cases {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
}
.cases .cases-navigation {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
  padding: 32px;
  box-sizing: border-box;
}
.cases .cases-navigation .cases-arrow {
  background: rgba(0, 0, 0, 0.4);
  height: 72px;
  width: 72px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cases .cases-navigation .cases-arrow svg {
  color: white;
  height: 28px;
  width: 28px;
}
.cases .cases-navigation .cases-arrow.disabled {
  opacity: 0.3;
}
.cases .row .case {
  position: relative;
  background: black;
  cursor: pointer;
}
.cases .row .case:hover .case-image {
  opacity: 0.4;
}
.cases .row .case .case-details {
  width: 33.3333vw;
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
  /* z-index: 0; */
  position: relative;
}

.bg {
  background-color: white;
}

.cases .row .case .case-details .cases-arrow {
  padding-top: 20px;
  margin-left: auto;
}

.cases .row .case .case-details .cases-arrow:hover {
  color: white;
  z-index: 9;
}

.cases .row .case .case-details a svg {
  color: white;
  margin-left: 16px;
  border: 2px solid white;
  padding: 12px;
  height: 55px;
  width: 55px;
  border-radius: 100px;
  transition: 0.4s ease-in-out;
}

.cases .row .case .case-details p {
  color: white;
}

.cases .row .case .case-details span {
  margin-top: 130px;
  font-size: 1.6rem;
  opacity: 0.8;
  color: white;
  font-weight: 600;
}
.cases .row .case .case-details h2 {
  font-size: 2.4rem;
  line-height: 3rem;
  width: 85%;
  margin-top: 16px;
  margin-bottom: 6px;
  color: white;
}
.cases .row .case .case-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  opacity: 0.65;
  transition: 0.4s cubic-bezier(0.6, -0.05, 0.1, 0.99);
}
.cases .row .case .case-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1366px) {
  .cases .row .case .case-details span {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .cases .cases-navigation {
    display: none;
  }
  .cases .row {
    flex-direction: column;
  }

  .cases .row .case {
    flex-direction: column;
  }

  .cases .row .case .case-details {
    width: 100vw;
  }

  .cases .row .case .case-details h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

@media only screen and (max-width: 425px) {
  .cases .row .case .case-details {
    padding: 16px;
  }

  .cases .row .case .case-details span {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  .cases .row .case .case-details h2 {
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin-top: 8px;
  }
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
}

.container .row {
  display: flex;
  height: 100%;
  padding: 0 32px;
}

.container .row-about {
  height: 110%;
  padding: 0 32px;
}

.container .v-center {
  align-items: center;
}

.container .space-between {
  justify-content: space-between;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.container-fluid .row {
  display: flex;
  height: 100%;
}

.intro-overlay .top {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  position: absolute;
  width: 100%;
  z-index: 8;
}

.intro-overlay .top .overlay-top {
  position: absolute;
  height: 100%;
  width: 33.333vw;
  background: black;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro-overlay .top .overlay-top:nth-child(2) {
  left: 33.333%;
}

.intro-overlay .top .overlay-top:nth-child(3) {
  left: 66.666%;
}

.intro-overlay .bottom {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 8;
}

.intro-overlay .bottom .overlay-bottom {
  position: absolute;
  height: 100%;
  width: 33.333vw;
  background: black;
  bottom: 0;
  right: 66.666%;
}

.intro-overlay .bottom .overlay-bottom:nth-child(2) {
  right: 33.333%;
}

.intro-overlay .bottom .overlay-bottom:nth-child(3) {
  right: 0;
}

.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

.page {
  height: 100vh;
  width: 100%;
  background: white;
}

.page .row {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1560px) {
  .container {
    width: 1280px;
    min-width: 1280px;
  }
}

@media only screen and (max-width: 1366px) {
  .container {
    width: 1080px;
    min-width: 1080px;
  }
}

@media only screen and (max-width: 1080px) {
  .container {
    width: 100%;
    min-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .intro-overlay .top .overlay-top {
    width: 100vw;
  }

  .intro-overlay .top .overlay-top:nth-child(2) {
    display: none;
  }

  .intro-overlay .top .overlay-top:nth-child(3) {
    display: none;
  }

  .intro-overlay .bottom .overlay-bottom {
    right: 0;
    width: 100vw;
  }

  .intro-overlay .bottom .overlay-bottom:nth-child(2) {
    width: 100vw;
    top: 100%;
    right: 0;
  }

  .intro-overlay .bottom .overlay-bottom:nth-child(3) {
    width: 100vw;
    top: 200%;
  }
}

@media only screen and (max-width: 425px) {
}

.header {
  position: fixed;
  width: 100%;
  height: 128px;
  z-index: 4;
  /* mix-blend-mode: difference; */
}

.header .logo a {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  color: black;
  text-decoration: none;
  font-weight: 700;
  /* mix-blend-mode: difference; */
}

.header .nav-toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav-toggle .hamburger-menu {
  width: 25px;
}

.header .nav-toggle .hamburger-menu span {
  text-align: center;
  margin-bottom: 0.3rem;
  background: black;
  height: 2px;
  width: 100%;
  display: block;
}

.header .nav-toggle .hamburger-menu-close {
  position: absolute;
  display: none;
}

@media only screen and (max-width: 425px) {
  .header {
    height: 96px;
  }

  .header .nav-toggle {
    width: 20px;
    margin-right: 16px;
  }

  .header .nav-toggle .hamburger-menu-close svg {
    width: 48px;
  }
}

@media only screen and (max-width: 768px) {
  .header .nav-toggle {
    margin-right: 24px;
  }

  .header .nav-toggle .hamburger-menu-close svg {
    width: 56px;
  }
}
