@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;800&display=swap");
@import url("https://use.typekit.net/nuo0jei.css");
@import url("https://use.typekit.net/xfi6esi.css");

:root {
  --spacing-xxl: 19.5rem;
  /* 310px - Padding on side for medium wide section */
  --spacing-xl: 13.125rem;
  /* 210px - Padding on side for wide section */
  --spacing-l: 8.125rem;
  /* 130px - Spacing between each section vertically */
  --spacing-m: 6.25rem;
  /* 100px - Padding on top and bottom for grey section */
  --spacing-s: 3.75rem;
  /* 60px - Padding on top and bottom of footer and sections that goes together */
  --spacing-xs: 2.1875rem;
  /* 35px - Spacing between content in sections */
  --spacing-xxs: 0.9375rem;

  --fontWeight-normal: 400;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;

  --lineHeight-large: 2;
  --lineHeight: 1.6;
  --fontSize-root: 16px;
  --fontSize-h1: 2.6rem;
  --fontSize-h2: 4rem;
  --fontSize-h2-s: 3rem;
  --fontSize-h2-xs: 2rem;
  --fontSize-h3: 3rem;
  --fontSize-h3-s: 3rem;
  --fontSize-h3-xs: 1.5rem;
  --fontSize-p: 1.2rem;
  --fontSize-p-s: 0.875rem;
  --fontSize-p-xs: 0.625rem;

  --black: #1a1818;
  --white: #ffffff;
  --dark-grey: #4e4e4e;
  --light-grey: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: aktiv-grotesk-thin, sans-serif;
  font-style: normal;
  font-weight: 200;
  margin-left: 8em;
  margin-right: 8em;
  background-color: #f0f0f0;
}

.wrapperloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--black);
  z-index: 2;
}

img,
video {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--black);
}

h2 {
  font-size: var(--fontSize-h2);
}

h3 {
  letter-spacing: 8px;
  color: var(--black);
  font-size: 2.45rem;
}

p {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.35rem;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 50%;
  left: 0;
  background-color: var(--black);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

a:hover {
  font-style: italic;
  transition-duration: 3s;
}

.soon {
  padding-top: 3rem;
  height: 70%;
}

.main-wrap {
  height: 100vh;
  width: 100%;
}

.subheader {
  font-family: aktiv-grotesk-extended, sans-serif;
  margin-bottom: 3rem;
}

.subheader-content {
  padding: 3rem 0px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(60, 60, 60);
  border-bottom: 2px solid rgb(60, 60, 60);
}

.cursor {
  width: 2rem;
  height: 2rem;
  transform: translate(10px, 10px);
  background-color: var(--black);
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  transition: all 0.3s ease-out;
  z-index: 10;
  background-image: url("../images/icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.next-about {
  text-align: left;
}

.my-masonry-grid {
  display: flex;
}

.img-grid {
  margin-top: 3em;
  margin-top: 3em;
  line-height: 0;
}

.my-masonry-grid_column:nth-child(2) {
  margin-left: 1em;
}

.year {
  color: rgb(255, 255, 255);
  opacity: 0;
  font-size: 1.5rem;
  position: absolute;
  top: 93%;
  left: 91%;
  transform: translate(-50%, -50%);
}

.img-top:active .year,
.img-top:hover .year {
  opacity: 1;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 1300px) {
  h3 {
    font-size: var(--fontSize-h3-s);
  }
}

.header-nav-small {
  display: none;
}

.about-back h3 {
  letter-spacing: 0px;
  font-size: 1.5rem;
}

/* media queries */

@media only screen and (max-width: 1200px) {
  .img-link {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1800px) {
  h2 {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1800px) {
  p {
    font-size: 1.5rem;
  }

  .about-back h3 {
    font-size: 2rem;
  }

  h3 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1192px) {
}

@media only screen and (max-width: 992px) {
  body {
    margin-left: 2em;
    margin-right: 2em;
  }
  h2 {
    font-size: var(--fontSize-h3);
  }

  .year {
    top: 90%;
    left: 90%;
  }

  .header-nav {
    display: none;
  }

  .about-text {
    margin-bottom: 3em;
  }

  .img-link {
    font-size: 2.5rem;
  }

  .next-right {
    margin-top: 0em;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 600px) {
  header {
    font-size: 1.2rem;
  }

  h2 {
    font-size: var(--fontSize-h2-xs);
  }

  h4 {
    font-size: 1rem;
  }

  .about-back h3 {
    font-size: 1.5rem;
  }

  .year {
    top: 85%;
    left: 85%;
  }

  p {
    font-size: 1.15rem;
  }

  h3 {
    letter-spacing: 4px;
    font-size: var(--fontSize-h3-xs);
  }

  .about-back {
    font-size: 1.2rem;
  }

  .img-link {
    font-size: 1.5rem;
  }
}
